In [5]:
import pixiedust
pixiedust.enableJobMonitor()

Spark Job Progress Monitor already enabled

In [6]:
import os, pandas as pd
# Add asset from file system
df_airline = pd.read_csv(os.environ['DSX_PROJECT_DIR']+'/datasets/Airline_Customer_Data.csv')
df_airline.head()

,﻿ID,Sex,Age,Region,Children,Est_Income,Car_Owner,Status,Lifetime Segments,Loyalty Level,International Segments,Local Segments,Cancellations,Type Travel,Customer_Segments,Trips_To_The_Website_Yr
0,1,F,24.393333,2,1,38000.00,N,S,229.64,3,0.0,206.08,0,Business,High Income Families,46
1,6,M,49.426667,3,2,29616.00,N,M,75.29,2,0.0,45.50,0,Personal,Low Value and No Kids,15
2,8,M,50.673333,1,0,19732.80,N,M,47.25,3,0.0,22.44,0,Business,High Income Families,9
3,11,M,56.473333,3,2,96.33,N,S,59.01,1,0.0,32.88,1,Business,High Income Families,12
4,14,F,25.140000,3,2,52004.80,N,M,28.14,1,0.0,23.11,0,Personal,Low Value and No Kids,6

In [7]:
display(df_airline)